/* Basic Settigs ------------------ */

* {
    font-family: 'Libre Baskerville', serif;
}

 h1 {
    color: blanchedalmond;
    font-family: 'Libre Baskerville', serif;
}
 h2 {
    color: blanchedalmond;
    font-family: 'Libre Baskerville', serif;
}
 h3 {
    color: blanchedalmond;
    font-family: 'Libre Baskerville', serif;
}
 h4  {
    color: blanchedalmond;
    font-family: 'Libre Baskerville', serif;
}

/*--------------------------------------- nav bar ------------------------------- */

.custom-color {
    /* background-color: rgba(9, 80, 121, 0.685); */
    background-color: rgba(9, 80, 121, 0.685);

}

/* ----------------------------- header setting and styling -------------------------------- */

header {
    background-image: linear-gradient(rgba(13, 98, 94, 0.685) , rgba(27, 35, 107, 0.472) ) , url(img/bg-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.hero-text-box {
    position: absolute;
    width: 500px;
    left: 30%;
    top: 50%; 
    transform: translate(-50%,-50%);
}


/* glowing Text */
.glow {
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }


.header-btn {
    border-radius: 50px;
    background-color: rgba(9, 80, 121, 0.685) ;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid rgba(251, 251, 251, 0);
}
.header-btn:hover,
.header-btn:active {
    border: 2px solid rgb(187, 184, 214);
    background-color: black;
}
/* section2 Card and Topic for Disccusions -------*------***-**- */

.heading {
    padding-top: 80px;
    margin-bottom: 40px;
}

.topics-section {
    background-color: rgba(170, 167, 167, 0.452);
}
.heading h1 {
    color: rgba(9, 80, 121, 0.959);
    text-align: center;
    border-bottom: rgba(255, 0, 0, 0);
}
.card-padding {
    padding-bottom: 50px;
}
.card-btn {
    border-radius: 50px;
    background-color: rgba(9, 80, 121, 0.685) ;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 5px;
    border: 2px solid rgba(251, 251, 251, 0);
    color: white;
}
.card-btn:hover,
.card-btn:active {
    border: 2px solid rgb(200, 3, 3);
    background-color: black;
    color: rgb(250, 250, 250);
}
.card-custom {
    border: 2px solid rgba(13, 98, 94, 0.993);
    border-radius: 20px;
}

form {
    margin-bottom: 50px;
}


/* Page Question Secion -------------------------- */

 
.Topic h1 {
color: rgba(13, 98, 94, 0.685);
text-align: center;
margin: 30px;
}
.Q-heading a {
    border-radius: 50px;
    background-color: rgba(9, 80, 121, 0.685) ;
    display: inline-block;
    text-decoration: none;
    padding: 2px 5px;
    margin-right: 5px; 
    border: 2px solid rgba(251, 251, 251, 0);
    color: white;
    font-size: smaller;
}
.Q-heading a:hover,
.Q-heading a:active {
    border: 2px solid rgb(200, 3, 3);
    background-color: black;
    color: rgb(250, 250, 250);
}
.Q-heading small {
    color: green;
}


/* Replies Page Css ---------------------------------------  */

/* .Question {
    
color: rgba(13, 98, 94, 0.685);
} */

.reply-card  {
    margin-bottom: 5px;
}

.Question_replyPage h2 {
    margin-top: 30px;
    color: black;
}


/* --------------Footer Part ----------------------------  */


footer {
    background-color:  rgba(9, 80, 121, 0.685) ;
    /* padding: 50px; */
}/*
.footer-nav {
    list-style: none ;
    float: left;
} */


/*
.footer-nav li
{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child
{
    margin-right: 0;
}

.footer-nav li a:link ,
.footer-nav li a:visited
{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.footer-nav li a:active ,
.footer-nav li a:hover  {
    color: #e6e6e6 ;
}

footer p {
    color: #888 ;
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
    bottom: 0;
} */
